.footer {
    background-color: #C1CCC3;
    color: 333;
    padding: 20px;
    margin-left: 0;
    margin-right: 0;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
}

footer a {
    color: #303030; /* Adjust for a dark grey base color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease; /* Add smooth color transition */
  }
  
  .footer a:hover {
    color: #777; /* Change color to a slightly lighter metallic black on hover */
  }