<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h5>Prečice do stranica</h5>
                <ul class="list-unstyled">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook"></i> O nama</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> O Drinki</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Vesti</a></li>
                    <!-- Add more social networks as needed -->
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h5>Kontakt</h5>
                <p>Email: info glupost.com</p>
                <p>Br. telefona: +1 123-456-7890</p>
                <p>Adresa: Hadži Ruvimova 27, Novi Sad 21000</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <p>©Sva prava zadrzava©</p>
            <p>Uroš Subić</p>
            <p>uros.subic01&#64;gmail.com</p>
        </div>

    </div>
</footer>