<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                <h5>Follow Us</h5>
                <ul class="list-unstyled">
                    <li><a href="#" target="_blank"><i class="fab fa-facebook"></i> Facebook</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
                    <!-- Add more social networks as needed -->
                </ul>
            </div>
            <div class="col-md-6 text-center">
                <h5>Contact</h5>
                <p>Email: info glupost.com</p>
                <p>Phone: +1 123-456-7890</p>
            </div>
        </div>
        
    </div>
</footer>