<div class="title">
    <h1>{{news?.title}}</h1>
</div>
<div class="container">
    <p [innerHTML]="getSanitizedText()"></p>
    <div class="row">
        <div class="col-6">
            <p><b>Autor: </b>{{news?.author}}</p>
        </div>
        <div class="col-6">
            <p><b>Datum: </b>{{news?.date}}</p>
        </div>
    </div>
    <div class="row mt-3 mb-3">
        <div class="col-12">
            <div *ngIf="news">
                <!-- <img *ngFor="let photo of news.listOfPhotos" [src]="getPhotoUrl(photo.photoString)"> -->
                <p-galleria [value]="news.listOfPhotos" [numVisible]="5" [circular]="true" [showItemNavigators]="true"
                    [showThumbnails]="false" [containerStyle]="{  }">
                    <ng-template pTemplate="item" let-item>
                        <div>
                            <img [src]="getPhotoUrl(item.photoString)" class="image-slider" />
                        </div>

                    </ng-template>
                </p-galleria>
            </div>
        </div>
    </div>
</div>