<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<div class="container" >
  <div class="row">
      <div class="col-md-6">
          <div >
              <img src="assets/Drinka-logo.png" alt="Drinka Home Picture" class="profile-image">
          </div>
      </div>
      <div class="col-md-6">
          <div >
              <h2>O Fondaciji</h2>
              <p>Da biste saznali više o samom radu naše fondacije, možete kliknuti na link ispod.</p>
              <button routerLink="/aboutUs">O Nama</button>
          </div>
      </div>
  </div>
</div>
