<div class="title">
    <h1>Vesti</h1>
</div>
<div class="container">
    <!-- <div *ngFor="let newsItem of newsList">
        <h3>{{ newsItem.shortText }}</h3>
        <p>{{ newsItem.longText }}</p>
        <small>By {{ newsItem.author }} on {{ newsItem.date | date }}</small>
        <div *ngFor="let photo of newsItem.listOfPhotos">
            <p >{{photo.photoString}}</p>
        </div>
    </div> -->
    <div *ngFor="let newsItem of newsList">
        <app-news-card [title]="newsItem.title" [text]="newsItem.shortText" [author]="newsItem.author" [publishDate]="newsItem.date"></app-news-card>    
    </div>
    <!-- <app-news-card [title]=""></app-news-card>
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
    <app-news-card></app-news-card>
    <app-news-card></app-news-card> -->
</div>