<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>About Us - Drinka Radovanović</title>
</head>
<div class="container">
    <h2 class="title">Fondacija "Drinka Radovanović" osnovana je u januaru 2024. godine</h2>
    <p class="text-center">
        Fondacija je umetnička, nestranačka i nedobitna organizacija osnovana kao fondacija. Ima svojstvo pravnog lica i za obaveze u pravnom prometu odgovara
        celokupnom svojom imovinom.
    </p>
    
    <p class="text-center">
        Osnovni cilj Fondacije je da organizuje upravljanje umetničkom zaostavštinom Drinke Radovanović ( Stragari kod Kragujevca, 1943 - Beograd,2.jul 2022 ) 
        koja je bila srpska skulptorka, član Udruženja lukovnih umetnka Srbije ( ULUS ) od 1979. godine i Lade od 1980. godine, na način da se ostvaruje opšti interes svih građana Srbije uz poštovanje princuipa
        umetničkog kvaliteta.
    </p>

    <p class="text-center">
        Sedište Fondacije je u Novom Sadu, ulica Hadži Ruvimova broj 27.
    </p>

    <img src="assets/aboutUs/drinkaHorse.jpg" alt="Drinka with a Horse" class="profile-image">

    <h2 class="ciljeviFondacije">Specifični ciljevi fondacije su:</h2>
    <p class="justify-content-between">
        &#x2022; Promovisanje vrednosti kulture, umetnosti i obrazovanja<br>
        &#x2022; Prikupljanje, obrada, čuvanje, publikovanje i prikazivanje javnosti umetničko stvaralaštvo Drinke Radovanović<br>
        &#x2022; Raspolaganje i promet umetničkim predmetima iz zaostavštine Drinke Radovanović<br>
        &#x2022; Realizacija kulturnih programa, organizovanje izložbi, umetničkih tribina, umetničkih sustreta,umetničkih edukativnih radionica posebno u oblasti likovnih umetnosti i slično.<br>
        &#x2022; Rad sa mladim autorima, organizovanje gostovanja umetnka i umetničkih projekata<br>
        &#x2022; Priprema i organizovanje seminara i skupova iz najrazličitijih oblasti kulture, umetnosti i obrazovanja<br>
        &#x2022; Iniciranje i realizacija domaćih i međunarodnih projekata u oblasti kulture, umetnosti, obrazovanja i zaštite ljudskih prava<br>
        &#x2022; Izdavanje knjiga, časopisa, revija i drugih publikacija vezanih za ciljeve radi kojih je osnovana Fondacija<br>
        &#x2022; Regionalna društvena i kulturna saradnja i povezivanje sa drugim oranizacijama osnovanim sa istim ciljem<br>
    </p>
</div>
