<div class="news-card" (click)="onCardClick()">
    <div class="news-image">
      <img src='assets/carousel/slobodnoVajarstvo/02%20Slobodno%20vajarstvo/113.jpg' alt="News Image">
    </div>
    <div class="news-details">
      <h3 class="text-truncate">{{ title }}</h3>
      <p class="text-truncate">{{ text | slice:0:150 }}...</p>
      <div class="news-footer">
        <span class="text-truncate"><b>Autor: </b><i>{{author}}</i></span>
        <span class="text-truncate"><b>Datum objave: </b><i>{{ publishDate  }}</i></span>
      </div>
    </div>
  </div>