<head>
<link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<div class="news-card" (click)="onCardClick()">
    <div class="news-image">
      <img src='assets/carousel/slobodnoVajarstvo/02%20Slobodno%20vajarstvo/113.jpg' alt="News Image">
    </div>
    <div class="news-details">
      <h3 class="text-truncate">{{ title }}</h3>
      <p class="text-truncate">{{ text | slice:0:150 }}...</p>
      <div class="news-footer">
        <span class="text-truncate"><b>Autor: </b><i>{{author}}</i></span>
        <span class="text-truncate"><b>Datum objave: </b><i>{{ publishDate  }}</i></span>
      </div>
    </div>
  </div>