<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<html>
<div class="container" (click)="handleClick()" >
  <div class="row">
    <div class="col-md-6">
      <div class="image-container">
        <img class="image" src="assets/firstDiv.jpg" alt="Drinka Home Picture">
      </div>
    </div>
    <div class="col-md-6">
      <div>
        <h2>Dobrodošli na zvanični sajt fondacije "Drinka Radovanović"</h2>
          <p [@fadeInAnimation]="fadeInState">Za više informacija o radu naše fondacije, možete kliknuti na dugme ispod!</p>
          <button routerLink="/news" >Vesti</button>
      </div>
    </div>
  </div>
</div>
</html>
  