.header-image {
    margin-top:9vh;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    max-height: 455px; /* You can adjust the height as needed */

    filter: grayscale(77%);
}

.container {
    width: 80%;
    background: linear-gradient(to bottom, #6B736D, #C1CCC3);
    margin-top: 2vh;
    margin-bottom: 5vh;
    border-radius: 8px;
    margin: 2vh 10%; /* Adjust the value as needed */
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow: auto;
}


.profile-image {
    max-width: 100%;
    height: auto;
    border-radius: 0%;
    margin-bottom: 20px;
    margin-top: 20px;
}
.profile-image-first {
    width: 50%;
    height: auto;
    border-radius: 0%;
    margin-bottom: 20px;
    margin-top: 20px;
}

h2 {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6em;
    color: #333;
    margin-bottom:10px;
}

p {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.quote {
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4em;
    color: #ececec;
    margin-bottom: 30px;
}

.artwork-section {
    margin-top: 30px;
}

.artwork-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}
