<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    <title>About Me - Drinka Radovanović</title>
</head>
    <img class="header-image" src="assets/aboutMe/headerPic.jpg" alt="Header Image">

    <div class="container">
        
        <img src="assets/DrinkaHomePic.png" alt="Drinka Home Picture" class="profile-image-first">
        
        <div class="quote text-center">
            "Kada bi me otac poveo sa sobom, iz Stragara, u Topolu ili Kragujevac, najduže sam se zadržavala pred izlozima apoteka,
            gledajući kao opčinjena bela gipsana poprsja. Tada sam, kao dete, mislila da je grad tamo gde ima skulptura, a da je selo
            tamo gde skulptura nema"
        </div>

        
        <p class="text-center">
            Drinka Radovanović (Stragari kod Kragujevca, 1943 – Beograd, 2. jul 2022) bila je srpska skulptorka, 
            član Udruženja likovnih umetnika Srbije, đak Matije Bećkovića. Iza sebe je ostavila mnoštvo impozantnih radova, 
            neki od njih se nalaze u muzejima u Srbiji (Narodni muzej, Istorijiski muzej, Etnografski muzej i Vukova zadužbina)
            i u inostranstvu (Manastir Hilandar, Grčka, Beč, Cirih, Jena, Berlin, Moskva, SAD). 
        </p>
        <img src="assets/aboutMe/secondTwo.jpg" alt="Two Pictures" class="profile-image">
        
        <div class="quote text-center">
            ,,Bila sam osetljivo dete, rasla sam usamljena. Moj susret sa glinom dogodio se takođe u najranijem detinjstvu.
            Igrala sam se u mulju pitomih srbijanskih rečica: Srebrenice, Jasenice  i Klisure. Rečna stihija je posle kiše u
            priobalnoj glini stvarala fantastične praskulptorske forme, koje su bile deo same prirode. Počela sam da shvatam
            da i čovek, ako to želi, može napraviti od gline sve što hoće...” 
        </div>

        <img src="assets/aboutMe/thirdThree.jpg" alt="Three Pictures" class="profile-image">

        <p class="text-center">
            Drinka Radovanovič je rođena 1943. Godine u selu Stragari kod Kragujevca.
            Odgojena je od strane oca, jer su joj majka i brat umrli od tuberkuloze kada je bila vrlo mala. 
        </p>

        <p class="text-center">
            Po očevoj želji upisala je Učiteljsku školu u Beogradu, a potom je studirala psihologiju.
             Sudbina ju je odvela da sledećih sedam godina provede u Minhenu gde je najviše vremena provela
              u Pinakoteci. Tamo je likovna umetnost postala njena sudbina. 
        </p>

        <p class="text-center">
            Godine 1971. Počela je sa pohađanjem privatne škole Sergeja Jovanovića, u kojoj su se mladi pripremali
             za upis na Likovnu akademiju. U toj školi je upoznala velikog skulptora Matiju Bećkovića koji se veoma
              zainteresovao za Drinkine radove. Primljena je u Udruženje likovnih umetnika Srbije 1979. Godine, a 
              1980. Postala je član grupe ,,Lada”. Sa Matijom Bećkovićem je izlagala radove 1984. Godine u Galeriji
               Grafičkog kolektiva, a sve ostalo desilo se potom. 
        </p>
    </div>
