<div class="container">
  <tabset [justified]="true" class="dela-tabset">
    <tab heading="Spomenici">
      <div class="row mt-2">
        <div class="text-center lead">
          <p>
            <strong>Ispod slike mozete pročitati više o svakoj slici.</strong>
          </p>
        </div>
      </div>
      <p-galleria
        [value]="imagesSpomenici"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [containerStyle]="{ 'max-width': '100%' }"
        (onItemChange)="updateImageDesc($event)"
      >
        <ng-template pTemplate="item" let-item>
          <img
            (click)="toggleFullScreen()"
            [src]="item.imageSrc"
            style="width: 100%; display: block"
          />
          <div class="row mt-5">
            <div class="text-center">
              <p>{{ item.imageAlt }}</p>
            </div>
          </div>
        </ng-template>
      </p-galleria>
    </tab>
    <tab heading="Slobodno vajarstvo">
      <p-galleria
        [value]="imagesSlVajarstvo"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [containerStyle]="{ 'max-width': '100%' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.imageSrc" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </tab>
    <tab heading="Prijatelji">
      <p-galleria
        [value]="imagesPrijalelji"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [containerStyle]="{ 'max-width': '100%' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.imageSrc" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </tab>
    <tab heading="Popis dela">
      <p-galleria
        [value]="imagesDela"
        [numVisible]="5"
        [circular]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
        [containerStyle]="{ 'max-width': '100%  ' }"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.imageSrc" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </tab>
  </tabset>
</div>
