<div class="container">
  <tabset [justified]="true" class="dela-tabset">
    <tab>
      <ng-template tabHeading>
        <span class="badge badge-secondary bg-secondary">Spomenici</span>
      </ng-template>
      <p-galleria [value]="imagesSpomenici" [numVisible]="5" [containerStyle]="{}"
        [responsiveOptions]="responsiveOptions" >
        <ng-template pTemplate="item" let-item>
          <img class="galleria-class" [src]="item.imageSrc"
            [ngStyle]="{ width: !fullscreen ? '100%' : '', display: !fullscreen ? 'block' : '' }" />
        </ng-template>
        <ng-template pTemplate="caption" let-item>
          <!-- <h4 style="margin-bottom: .5em; color: #faf7f7;">Neki Naslov #toDo</h4> -->
          <p style="font-size: 0.7em;">{{item.imageAlt}}</p>
        </ng-template>
      </p-galleria>
    </tab>
    <tab>
      <ng-template tabHeading>
        <span class="badge badge-secondary bg-secondary">Slobodno vajarstvo</span>
      </ng-template>
      <p-galleria [value]="imagesSlVajarstvo" [numVisible]="5" [circular]="true" 
        [containerStyle]="{  }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.imageSrc" style="width: 100%;height: 80vh;"
            [ngStyle]="{ width: !fullscreen ? '100%' : '', display: !fullscreen ? 'block' : '' }" />
        </ng-template>
        <ng-template pTemplate="caption" let-item>
          <p>{{item.imageAlt}}</p>
        </ng-template>
      </p-galleria>
    </tab>
    <tab>
      <ng-template tabHeading>
        <span class="badge badge-secondary bg-secondary">Prijatelji</span>
      </ng-template>
      <p-galleria [value]="imagesPrijalelji" [numVisible]="5" [circular]="true" [containerStyle]="{  }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.imageSrc" style="width: 100%;height: 80vh;"
            [ngStyle]="{ width: !fullscreen ? '100%' : '', display: !fullscreen ? 'block' : '' }" />
        </ng-template>
        <ng-template pTemplate="caption" let-item>
          <p>{{item.imageAlt}}</p>
        </ng-template>
      </p-galleria>
    </tab>
    <tab>
      <ng-template tabHeading>
        <span class="badge badge-secondary bg-secondary">Popis dela</span>
      </ng-template>
      <p-galleria [value]="imagesDela" [numVisible]="5" [circular]="true"  [containerStyle]="{  }">
        <ng-template pTemplate="item" let-item>
          <img [src]="item.imageSrc" style="width: 100%;height: 80vh;"
            [ngStyle]="{ width: !fullscreen ? '100%' : '', display: !fullscreen ? 'block' : '' }" />
        </ng-template>
        <ng-template pTemplate="caption" let-item>
          <p>{{item.imageAlt}}</p>
        </ng-template>
      </p-galleria>
    </tab>
  </tabset>
</div>